@model PersonInfo

<div>
@Html.LabelFor(x=>x.Name)
@Html.DisplayFor(x => x.Name)
</div>
<br />
<div>
    @Html.LabelFor(x=>x.Surname)
    @Html.LabelFor(x => x.Surname, "Surname")
</div>
<br />
<div>
    @Html.LabelFor(x=>x.LastName)
@Html.DisplayFor(x => x.LastName)
</div>
<br />
<div>
 @Html.LabelFor(x=>x.Gender)
@Html.DisplayFor(x => x.Gender)
</div>
<br />
<div>
 @Html.LabelFor(x=>x.City)
@Html.DisplayFor(x => x.City)
</div>
<br />
<div>
    @Html.LabelFor(m=>m.Hobby)
    @if (Model.Hobby!=null)
    {
        foreach (var item in Model.Hobby)
        {
            <text>@(item + ", ")</text>
        }
    }
</div>
<br />
<div>
    @Html.LabelFor(x => x.DateOfBithd)
    @Html.DisplayFor(x => x.DateOfBithd)
</div>
