@using Razor_PartialView.Services;
@model PersonInfo

@{
    ViewData["Title"] = "MyData Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @using (@Html.BeginForm(FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name)
            @Html.LabelFor(m=>m.LastName)
            @Html.TextBoxFor(m=>m.LastName)
            @Html.LabelFor(m=>m.Surname)
            @Html.TextBoxFor(m=>m.Surname)
        </div>
        <br />
        <div>
            Man
            @Html.RadioButtonFor(m=>m.Gender,"Man")
            Women
            @Html.RadioButtonFor(m=>m.Gender,"Women")
        </div>
        <br />
        <div>
            @Html.DropDownListFor(m=>m.City,ViewBag.Cities as SelectList)
        </div>
        <br />
        <div>
            @Html.LabelFor(m=>m.Hobby)
            <br />
            @Html.ListBoxFor(m=>m.Hobby,ViewBag.Hobbies as  MultiSelectList)
        </div>
        <div>
            @Html.LabelFor(m=>m.DateOfBithd)
            <br />
            @Html.TextBoxFor(m=>m.DateOfBithd,new { @type = "date"})
        </div>
        <br />
        <button type="submit" asp-action="MyDataView" asp-controller="Home">Send</button>
    }
</div>
 